BasedOnStyle: LLVM
IndentWidth: 2
ContinuationIndentWidth: 2
ColumnLimit: 0
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BinPackArguments: false
BinPackParameters: false
SortIncludes: false
PointerAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
IndentCaseLabels: true
